@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  border: 0;
}

html {
  box-sizing: border-box;
  height: auto;
  width: auto;
  overflow-x: hidden;
}

body {
  font-family: "Public Sans", Helvetica, sans-serif;
  min-height: 100vh;
  font-size: 18px;
  background-color: white;
  overflow-x: hidden;
}

.navbar-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-toggler {
  display: block;
  right: 15px;
  margin: 0 auto;
  position: absolute;
}

.navbar-toggler #hamburger-icon {
  display: none;
}

.navbar-toggler #hamburger-icon.show {
  display: block;
}

.navbar-toggler #close-icon {
  display: none;
}

.navbar-toggler #close-icon.show {
  display: block;
}

.navbar-collapse {
  justify-content: space-around;
  align-items: center;
}

.navbar-nav {
  align-items: center;
  margin-right: 15px;
}

.navbar-nav li :hover {
  text-decoration: 5px underline #31d35c;
  color: #2d314d;
}

.navbar-nav li a {
  color: #9698a6;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  font-family: "Public Sans", Helvetica, sans-serif;
  font-weight: 400;
  padding: 20px;
}

.request-btn {
  display: none;
}

@media (min-width: 1024px) {
  .request-btn {
    display: block;
    color: #fafafa;
    font-family: "Public Sans", Helvetica, sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border: 0;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    box-shadow: -2px -2px 10px rgba(158, 167, 157, 0.527), 2px 2px 10px rgba(158, 167, 157, 0.527);
    outline: none;
    border-radius: 30px;
  }
}

.modal-wrapper {
  display: none;
}

.modal-wrapper.show {
  z-index: 999;
  position: absolute;
  height: 300px;
  width: 300px;
  top: 8%;
  left: 50%;
  display: flex;
  background-color: #fafafa;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow: -2px -2px 10px rgba(114, 95, 95, 0.589), 2px 2px 10px rgba(114, 95, 95, 0.589);
  outline: none;
}

.modal-wrapper .modal-menu ul,
.modal-wrapper .modal-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.modal-wrapper .modal-menu ul li,
.modal-wrapper .modal-menu li {
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  font-family: "Public Sans", Helvetica, sans-serif;
  font-weight: 400;
  padding: 10px;
  cursor: pointer;
}

.intro-wrapper {
  padding: 0;
  position: relative;
  height: 100%;
  display: block;
}

.intro-wrapper .hero-image {
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: right center;
  height: 50vh;
  width: 100%;
  background-size: 100%;
}

@media (min-width: 1024px) {
  .intro-wrapper .hero-image {
    background-image: url(/images/bg-intro-desktop.svg);
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: right;
  }
}

.intro-wrapper .hero-image::after {
  content: "";
  background-image: url(/images/image-mockups.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 116%;
  position: relative;
  display: block;
  top: 0;
  background-size: 100%;
  background-position-y: -105px;
}

@media (min-width: 768px) {
  .intro-wrapper .hero-image::after {
    height: 100%;
    background-position-x: 50px;
    background-position-y: -120px;
  }
}

@media (min-width: 1024px) {
  .intro-wrapper .hero-image::after {
    background-size: 77%;
    margin: 0;
    height: 160%;
    background-position-x: 300px;
    background-position-y: -280px;
  }
}

.intro-wrapper .intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .intro-wrapper .intro-text {
    padding-left: 105px;
  }
}

.intro-wrapper .intro-text h2 {
  font-size: 36px;
  color: #2d314d;
  text-align: center;
  margin-top: 50px;
}

@media (min-width: 1024px) {
  .intro-wrapper .intro-text h2 {
    text-align: left;
  }
}

.intro-wrapper .intro-text p {
  color: #9698a6;
  font-size: 18px;
  text-align: justify;
  padding: 30px;
}

@media (min-width: 1024px) {
  .intro-wrapper .intro-text p {
    padding: 0px;
  }
}

.intro-wrapper .intro-text .intro-request-btn {
  display: block;
  color: #fafafa;
  font-family: "Public Sans", Helvetica, sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  border: 0;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  box-shadow: -2px -2px 10px rgba(158, 167, 157, 0.527), 2px 2px 10px rgba(158, 167, 157, 0.527);
  outline: none;
  border-radius: 30px;
  margin-bottom: 100px;
}

@media (min-width: 1024px) {
  .intro-wrapper .intro-text .intro-request-btn {
    align-self: flex-start;
  }
}

.fade-in {
  opacity: 0;
  transform: translateX(50%);
  transition: transform 250ms ease-in, opacity 450ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  transform: translateX(0);
}

.slide-in {
  transform: translateX(50%);
  transition: transform 400ms ease-in;
}

.slide-in.appear {
  transform: translateX(0);
}

.icon-section {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f3f4f6;
  flex-direction: column;
  z-index: 999;
}

.icon-section .choice-section {
  margin-top: 10px;
  margin-bottom: 20px;
}

.icon-section .choice-section h3 {
  font-size: 36px;
  color: #2d314d;
  text-align: center;
  padding: 30px;
}

@media (min-width: 768px) {
  .icon-section .choice-section h3 {
    display: flex;
    padding: 50px 0px 50px 0px;
  }
}

.icon-section .choice-section p {
  color: #9698a6;
  font-size: 18px;
  text-align: center;
}

@media (min-width: 768px) {
  .icon-section .choice-section p {
    display: flex;
    color: #9698a6;
    font-size: 18px;
    text-align: left;
    margin: 5px 30px 10px 0px;
  }
}

.icon-section img {
  padding: 30px;
}

@media (min-width: 768px) {
  .icon-section img {
    display: flex;
    padding: 30px 0px 30px 0px;
  }
}

.icon-section h3 {
  font-size: 27px;
  color: #2d314d;
  margin: 10px;
}

@media (min-width: 768px) {
  .icon-section h3 {
    text-align: left;
  }
}

.icon-section p {
  color: #9698a6;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .icon-section p {
    text-align: left;
  }
}

.article {
  font-size: 27px;
  color: #2d314d;
  margin: 100px 0 50px 0;
}

@media (min-width: 768px) {
  .article {
    align-self: flex-start;
    display: flex;
    padding-left: 120px;
  }
}

.article-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  width: 100%;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

.card .card-img-top {
  max-height: 200px;
}

.card .card-body {
  padding: 30px;
}

.card .card-body small {
  font-size: small;
}

.card .card-body h4 {
  font-size: 18px;
  font-weight: 700;
  color: #2d314d;
  cursor: pointer;
}

.card .card-body h4:hover {
  color: #31d35c;
}

.card .card-body p {
  color: #9698a6;
  margin-bottom: 40px;
}

.footer-wrapper {
  background-color: #2d314d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-wrapper .footer-menu-wrapper-left div,
.footer-wrapper .footer-menu-wrapper-right div {
  padding: 5px;
}

.footer-wrapper .logo-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 9px;
  margin-bottom: 30px;
}

.footer-wrapper .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.footer-wrapper .social-icons div {
  padding: 10px;
}

.footer-wrapper .menu-bottom-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-wrapper .menu-bottom-button .footer-button {
  display: inline-block;
  color: #fafafa;
  font-family: "Public Sans", Helvetica, sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  border: 0;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  box-shadow: -2px -2px 10px rgba(158, 167, 157, 0.527), 2px 2px 10px rgba(158, 167, 157, 0.527);
  outline: none;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 30px;
  align-self: center;
}

@media (min-width: 1024px) {
  .footer-wrapper .menu-bottom-button .footer-button {
    align-self: flex-end;
    margin: 0px 40px 20px 0;
  }
}

.footer-wrapper .menu-bottom-button .rights {
  align-self: center;
  font-size: 12.6px;
  margin-bottom: 50px;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .footer-wrapper .menu-bottom-button .rights {
    margin-top: 30px;
    margin-right: 40px;
    align-self: flex-end;
  }
}

@media (min-width: 1024px) {
  .footer-wrapper {
    padding: 30px;
  }
  .footer-wrapper .logo-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 0;
    margin-left: 60px;
  }
  .footer-wrapper .logo-social .social-icons {
    margin: 0;
    cursor: pointer;
  }
  .footer-wrapper .logo-social .social-icons div svg:hover {
    background-color: #31d35c;
  }
  .footer-wrapper .menu-bottom-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 40px;
  }
  .footer-wrapper .footer-menu-wrapper-left {
    line-height: 2rem;
    align-self: flex-start;
    float: left;
    margin-left: 0px;
    text-align: left;
    cursor: pointer;
  }
  .footer-wrapper .footer-menu-wrapper-left div:hover {
    color: #31d35c;
  }
  .footer-wrapper .footer-menu-wrapper-right {
    line-height: 2rem;
    align-self: flex-start;
    float: right;
    margin-left: 30px;
    text-align: left;
    cursor: pointer;
  }
  .footer-wrapper .footer-menu-wrapper-right div:hover {
    color: #31d35c;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
