@mixin btn($color) {
    font-family: $font-stack;
    font-weight: weight(medium);
    padding: 10px 20px;
    border: 0;
    @include gradient(to right, $color);
    @include boxShadow(rgba(158, 167, 157, 0.527));

    // &:hover{
    //     @include set-bg-color(black);
    //     border: 1px solid $color;  
    //     color: $color;  
    // }
}